{% extends 'base.html.twig' %}

{% block title %}-
	{{structure.name}}
{% endblock %}

{% block navbar %}
	{% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
<div class="main_content pt-2">
    <h1 class="h1structure text-left mt-3">{{structure.name}}</h1>
	<h1 class="text-left mt-2 mb-5">Contact</h1>
	<div class="d-flex justify-content-start">
		<a class="button button-light my-3" href="{{ path('structure_show', {'id': structure.id}) }}">Retour</a>
	</div>
	<div class="container mt-5 border border-secondary col-11 position-relative">
		<h5 class="position-absolute top-0 start-0 text-left s-card-title rounded p-2 ms-2 structure_card">Contact</h5>
		<div class="container p-3 mt-3 col-11">

			{{ form_start(contactForm) }}
				{{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'my-2'}}) }}
				{{ form_errors(contactForm) }}
				{{ form_widget(contactForm.email) }}

				{{ form_label(contactForm.telephone, 'Téléphone', {'label_attr': {'class': 'my-2'}}) }}
				{{ form_errors(contactForm) }}
				{{ form_widget(contactForm.telephone) }}

				{{ form_label(contactForm.telephone2, 'Téléphone 2', {'label_attr': {'class': 'my-2'}}) }}
				{{ form_errors(contactForm) }}
				{{ form_widget(contactForm.telephone2) }}
			{% if is_granted("ROLE_ADMIN") %}
			<div class="d-flex justify-content-end">
				<button class="button button-light mt-5 me-3">{{ button_label|default('Modifier') }}</button>
			</div>
			{% endif %}
		{{ form_end(contactForm) }}
		</div>
	</div>
	</div>
</div>

{% endblock %}
