{% extends 'base.html.twig' %}

{% block title %}-
	{{app.user.structure.name}}
{% endblock %}

{% block navbar %}
	{% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
<div class="main_content pt-2">
    <h1 class="h1structure text-left mt-3">{{app.user.structure.name}}</h1>
	<h1>Adresses</h1>
	<div class="d-flex justify-content-start my-4">
		<a class="button button-light my-3" href="{{ path('structure_show', {'id': app.user.structure.id}) }}">Retour</a>
	</div>
    {% if is_granted("ROLE_ADMIN") %}
    <div class="d-flex justify-content-end">
		<a class="button button-light mt-2 me-5" href="{{ path('address_new', {'id': app.user.structure.id}) }}">Ajouter</a>
	</div>
    {% endif %}
	<div class="container mt-5 border border-secondary col-11 position-relative">
		<h5 class="position-absolute top-0 start-0 text-left s-card-title rounded p-2 ms-2 structure_card">Adresses</h5>
		<div class="container p-3 mt-3 col-11">
            {% for address in addresses %}
                {% if address is same as addresses[0] %}
                    <p class="mt-3">ADRESSE PRINCIPALE</p>
                {% else %}
                    <p class="mt-3">ADRESSE {{ loop.index }}</p>
                {% endif %}
                <p>RUE : <strong class="text-dark me-5">{{ address.addressStreet }}</strong>
                COMPLEMENT : <strong class="text-dark">{{ address.addressComplement }}</strong>
                </p>
                <p>CODE POSTAL : <strong class="text-dark me-5">{{ address.addressZip }}</strong>
                VILLE : <strong class="text-dark me-5">{{ address.addressCity }}</strong>
                PAYS :
                    <strong class="text-dark">{{ address.addressCountry }}</strong>
                </p>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="d-flex justify-content-end">
                        {{ include('address/_delete_form.html.twig') }}
                        <a class="button button-light ms-3" href="{{ path('address_edit', {'idAddress': address.id, 'idStructure': app.user.structure.id}) }}">Modifier</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
	</div>
</div>

{% endblock %}
